USE [GamesPopone]
GO
/****** Oggetto: StoredProcedure [dbo].[Videogioco_Crea_Modifica]    Data dello script 06/08/2026 11:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Videogioco_Crea_Modifica]
	-- Passo i parametri della procedura 
	@ID INT = NULL,
    @Titolo NVARCHAR(200),
    @Genere NVARCHAR(100),
    @Piattaforma NVARCHAR(100),
    @AnnoUscita INT,
    @AnnoGiocata INT,
    @Trama NVARCHAR(MAX),
    @Recensione NVARCHAR(MAX),
    @ImmagineUrl NVARCHAR(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- in caso non viene inserita l'immagine url (non obbligatoria), setto un path di default
    SET @ImmagineUrl = ISNULL(NULLIF(TRIM(@ImmagineUrl), ''), 'assets/images/img/default.jpg');

    IF @ID IS NULL OR @ID = 0 -- se non esiste l'id, aggiungo il record
    BEGIN


        INSERT INTO Videogiochi (Titolo, Genere, Piattaforma, AnnoUscita, AnnoGiocata, Trama, Recensione, ImmagineUrl, Nascosto)
        VALUES      (@Titolo, @Genere, @Piattaforma, @AnnoUscita, @AnnoGiocata, @Trama, @Recensione, @ImmagineUrl, 0);
        SELECT      SCOPE_IDENTITY() AS NuovoID;
    END
    ELSE
    BEGIN -- altrimenti, aggiorno il record
        UPDATE Videogiochi
        SET Titolo = @Titolo,
            Genere = @Genere,
            Piattaforma = @Piattaforma,
            AnnoUscita = @AnnoUscita,
            AnnoGiocata = @AnnoGiocata,
            Trama = @Trama,
            Recensione = @Recensione,
            ImmagineUrl = @ImmagineUrl
        WHERE ID = @ID;
        SELECT @ID AS ID_Modificato;
    END

END
