USE [GamesPopone]
GO
/****** Oggetto: StoredProcedure [dbo].[Videogioco_Singolo]    Data dello script 06/08/2026 11:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Videogioco_Singolo]
	-- Add the parameters for the stored procedure here
	@ID INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
		ID, 
		Titolo, 
		Genere, 
		Piattaforma,
		AnnoUscita, 
		AnnoGiocata,
		Trama, 
		Recensione,
		DataInserimento,
		ImmagineUrl
		
	FROM Videogiochi

	WHERE 
		ID = @ID
		AND 
		Nascosto = 0

END
