USE [GamesPopone]
GO
/****** Oggetto: StoredProcedure [dbo].[Videogioco_Ricerca]    Data dello script 06/08/2026 11:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[Videogioco_Ricerca]
	-- Add the parameters for the stored procedure here
	@Titolo NVARCHAR(200) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
		ID, 
		Titolo, 
		Genere, 
		Piattaforma,
		AnnoUscita, 
		AnnoGiocata,
		ImmagineUrl
	
	FROM Videogiochi

	WHERE 
		(@Titolo IS NULL OR Titolo LIKE '%' + @Titolo + '%') 
		AND 
		Nascosto = 0 

	ORDER BY 
		DataInserimento DESC

END
